*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  color: white;
  background-color: #674baf;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center; }
  @media (min-width: 1140px) {
    body {
      background-image: url(../images/bg-desktop.svg);
      background-size: 90% 100%; } }

.container {
  width: 80%;
  max-width: 40rem;
  margin-top: 3rem; }
  @media (min-width: 810px) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 1140px) {
    .container {
      width: 90%;
      max-width: 510rem;
      margin-top: 2rem; } }

.huddle {
  text-align: center; }
  @media (min-width: 1140px) {
    .huddle {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4.9rem; } }
  .huddle__logo {
    width: clamp(13rem, 15vw, 58rem); }
    @media (min-width: 1140px) {
      .huddle__logo {
        margin-top: 4rem; } }
  .huddle__img {
    width: 100%;
    margin: 5.7rem 0; }
    @media (min-width: 1140px) {
      .huddle__img {
        width: unset;
        margin: 8rem 0 0 0; } }
  .huddle__content-wrapper {
    margin-bottom: 3rem; }
  .huddle__heading {
    font-family: "Poppins", sans-serif;
    font-size: clamp(2.4rem, 3vw, 4rem); }
  .huddle__description {
    font-size: clamp(1.6rem, 2vw, 1.85rem);
    line-height: 2.7rem;
    margin: 1rem 0 2rem 0;
    opacity: 0.7; }
    @media (min-width: 1140px) {
      .huddle__description {
        margin: 2rem 0 2.5rem 0; } }
  .huddle__button:link, .huddle__button:visited {
    color: #674baf;
    text-decoration: none;
    background-color: white;
    font-size: clamp(1.2rem, 1.2vw, 3rem);
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    padding: 1.3rem 8rem;
    display: inline-block;
    transition: all 0.2s; }
    @media (min-width: 1140px) {
      .huddle__button:link, .huddle__button:visited {
        padding: 1.5rem 6.5rem; } }
  .huddle__button:hover, .huddle__button:focus, .huddle__button:active {
    background-color: #e882e8; }
  .huddle__list {
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-self: flex-end; }
    @media (min-width: 1140px) {
      .huddle__list {
        gap: 1.5rem; } }
    .huddle__list-item {
      border: 1px solid white;
      border-radius: 50%;
      transition: all 0.2s; }
      .huddle__list-item:hover {
        cursor: pointer;
        border: 1px solid #e882e8; }
        .huddle__list-item:hover .huddle__list-icon {
          fill: #e882e8; }
    .huddle__list-link {
      width: 2.5rem;
      height: 2.5rem;
      fill: white;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 1140px) {
        .huddle__list-link {
          width: 4rem;
          height: 4rem; } }
    .huddle__list-icon {
      width: 1.2rem;
      transition: all 0.2s; }
      @media (min-width: 1140px) {
        .huddle__list-icon {
          width: 1.8rem; } }

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0; }
  @media (min-width: 1140px) {
    .attribution {
      width: 90%;
      display: flex;
      flex-direction: column; } }
  .attribution__link:link, .attribution__link:visited {
    text-transform: uppercase;
    color: #e882e8;
    transition: all 0.2s; }
  .attribution__link:hover, .attribution__link:active {
    color: white; }
