$color-primary: hsl(257, 40%, 49%);
$color-secondary: hsl(300, 69%, 71%);

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: $font-secondary;
}
